@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 247, 249, 247; /* Nuestro color bloomly-bg */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #4A4A4A;
  background: #F7F9F7;
}